<div class="container">
  <h2 class="text-center">Password Change </h2>
  <h4 class="text-center">Email id of User is:{{emailid}}</h4>
  <form class="form-horizontal" [formGroup]="confform" (ngSubmit)="confSubmit()">
    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Old Password:</label>
      <div class="col-sm-10">          
        <input type="password" class="form-control" formControlName="oldpassword" id="opwd" placeholder="Enter old password" name="opwd">
       
        <div *ngIf="confform.controls.oldpassword.invalid && (confform.controls.oldpassword.touched || confform.controls.oldpassword.dirty)" class="alert alert-danger">
          <div *ngIf="confform.controls.oldpassword.errors.required">ConfirmPassword is required</div>
          
          </div>
        
      </div>
    </div>
    
    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">New Password:</label>
      <div class="col-sm-10">          
        <input type="password" class="form-control" formControlName="newpassword" id="pwd" placeholder="Enter New password" name="pwd">
        <div *ngIf="confform.controls.newpassword.invalid && (confform.controls.newpassword.touched || confform.controls.newpassword.dirty)" class="alert alert-danger">
        <div *ngIf="confform.controls.newpassword.errors.required">New Password is required</div>
        
        </div>
        </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Confirm Password:</label>
      <div class="col-sm-10">          
        <input type="password" class="form-control" formControlName="confirmpassword" id="cpwd" placeholder="Enter Confirm password" name="cpwd">
        <div class="error"></div>
        <div *ngIf="confform.controls.confirmpassword.invalid && (confform.controls.confirmpassword.touched || confform.controls.confirmpassword.dirty)" class="alert alert-danger">
          <div *ngIf="confform.controls.confirmpassword.errors.required">ConfirmPassword is required</div>
          
          </div>
        
      </div>
    </div>
    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <div class="checkbox">
          <label><input type="checkbox" name="remember"> Remember me</label>
        </div>
      </div>
    </div>
    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
    </div>
  </form>
</div>
