<div class="container">
  <h2>Add Category Form</h2>
  <form class="form-horizontal" [formGroup]="categoryForm" (ngSubmit)="catAdd()">
    <div class="form-group">
      <label class="control-label col-sm-2" >Category Name:</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="cname" formControlName="cname" placeholder="Enter Category Name" name="email">
        <div *ngIf="categoryForm.controls.cname.invalid && (categoryForm.controls.cname.touched || categoryForm.controls.cname.dirty)" class="alert alert-danger">
          <div *ngIf="categoryForm.controls.cname.errors.required"> Category Name is required</div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" >Description:</label>
      <div class="col-sm-10">          
       <textarea  input type="text" class="form-control" id="pwd" formControlName="description" placeholder="Enter Some Description" name="pwd">
        
        </textarea>
        <div *ngIf="categoryForm.controls.description.invalid && (categoryForm.controls.description.touched || categoryForm.controls.description.dirty)" class="alert alert-danger">
          <div *ngIf="categoryForm.controls.description.errors.required"> Description is required</div>
        </div>

      </div>
    </div>
    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <input type="file" class="form-control" (change)="uploadFile($event)">
      </div>
    </div>
    
    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
    </div>
  </form>
</div>
